* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.palka {
    position: relative;
    width: 2px;
    height: 45px;
    background: grey;
}
.palka2 {
    width: auto;
    height: 1px;
    background: grey;
    margin-top: 50px;
}
.os {
    position: relative;
    left: 250px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 30px;
}
.photo2 {
    background: url("Vector.png") center center no-repeat;
    background-size: cover;
    width: 15px;
    height: 25px;
    transition: 0.8s;
    position: relative;
    left: -5px;
}
.photo2:hover {
    background: url("1122.png") center center no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.photo3 {
    transition: 0.7s;
    background: url("instagram (1) 1.png") center center no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}
.photo3:hover {
    width: 27px;
    height: 27px;
    background: url("aqq.png") center center no-repeat;
    background-size: cover;
    transform: scale(1.4);
}
.photo4 {
    transition: 0.8s;
    background: url("2.png") center center no-repeat;
    background-size: cover;
    width: 25px;
    height: 18px;
    position: relative;
    left: 5px;
}
.photo4:hover {
    background: url("22.jpg") center center no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.photo5 {
    background: url("smartphone 1.png") center center no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    position: relative;
    left: 13px;
    cursor: pointer;
    transition: 0.7s;
}
.photo5:hover {
    background: url("asd.png") center center no-repeat;
    background-size: cover;
    transform: scale(1.05);
}
.photo6 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 13px;
}
.photo7 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;
}
.ukr {
    cursor: pointer;
    transition: 0.5s;
    font-size: 19px;
    background: rgb(0, 153, 255);
    color: rgb(255, 255, 255);
    width: 45px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-family: sans-serif;
    border-radius:10% ;
    position: relative;
    top: -1px;
}
.ukr:hover {
    transform: scale(1.05);
    color: yellow;
    background: blue;
}
.rus {
    transition: 0.5s;
    cursor: pointer;
    font-size: 19px;
    color: white;
    width: 45px;
    height: 25px;
    background: rgb(8, 196, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    position: relative;
    top: 2px;
    border-radius:10% ;
}
.rus:hover {
    transform: scale(1.05);
    color: rgb(255, 0, 0);
    background: rgb(255, 251, 0);
}
.usd {
    font-size: 20px;
}
.eur {
    font-size: 20px;
}
.znaki {
    width: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -15px;
}
.telephon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nomer { 
    font-family: sans-serif;
    font-weight: 700;
}
.vtotele {
    position: relative;
    top: 10px;
}
.nazva1 {
    font-family: sans-serif;
    font-weight: 700;
    width: 240px;
    height: 50px;
}
.vedi {
    border: transparent;
    width: 190px;
    height: 50px;
    color: #373737;
    padding:23px;
    font-family: sans-serif;
    font-weight: 700;
    font-size:16px;
    background: #EFF3F6;
}
.MA {
    position: relative;
    top: 15px;
    left: 25px;
}
.poisk1 {
    transition: 0.5s;
    width: 50px;
    height: 50px;
    background: rgb(255, 69, 69);
    position: absolute;
    margin-left: 190px;
    margin-top: -50px;
    cursor: pointer;
}
.poisk1:hover {
    background: red;
}
.poisk2 {
    transition: 0.5s;
    width: 50px;
    height: 50px;
    background: rgb(59, 212, 39);
    position: absolute;
    margin-left: 190px;
    margin-top: -50px;
    cursor: pointer;
}
.poisk2:hover {
    background: rgb(0, 255, 0);
}
h1 {
    font-size: 17px;
    position: relative;
    top: 5px;
    left: -18px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}
.os2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1540px;
    position: relative;
    top: 25px;
    left: 200px;
}
.lupa {
    cursor: pointer;
    transition: 0.6s;
}
.lupa:hover {
    transform: scale(1.1);
}
.men {
    outline: none;
    color: grey;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.men:hover {
    color: black;
    transform: scale(1.05);
}
.block1 {
    display: inline-block;
    position: relative;
}
.block12 {
    display: none;
    position: absolute;
    min-width: 260px;
    z-index: 1;
    background: white;
    left: -10px;
    top: 21px;
}
.block12 a {
    float: none;
    font-weight: 400;
    font-family: sans-serif;
    border: 1px solid rgb(219, 219, 219);
    color: grey;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.block1:hover .block12 {
    display: block;
}
.block12 a:hover {
    color: indianred;
    border:1px solid indianred;
    font-size: 15px;
}
.os3 {
    height: 1700px;
}
.mein {
    color: rgb(161, 161, 161);
    font-family: sans-serif;
    font-weight: 400;
    position: relative;
    top: 45px;
    left: 120px;
    width: 400px;
    font-size: 18px;
}
strong {
    color: rgb(71, 71, 71);
    font-weight: 400;
}
.trak {
    width: 500px;
    font-size: 46px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 65px;
    position: relative;
    left: 120px;
    top: 150px;
}
.text1 {
    font-size: 22px;
    color: rgb(158, 158, 158);
    font-family: fantasy;
    width: 620px;
    position: absolute;
    top: 495px;
    left: 120px;
    font-weight: 400;
    line-height: 1.6;
}
.text2 {
    font-size: 22px;
    color: rgb(158, 158, 158);
    font-family: fantasy;
    width: 520px;
    position: absolute;
    top: 495px;
    left: 1150px;
    font-weight: 400;
    line-height: 1.6;
}
.right {
    width: 170px;
    position: relative;
    left: 1615px;
    top: 400px;
}
.right2 {
    width: 150px;
    position: relative;
    top: 315px;
    left: 1430px;
}
.text {
    width: 400px;
    position: relative;
    top: 380px;
    left: 120px;
}
.left {
    width: 300px;
    position: relative;
    top: 410px;
    left: 3px;
}
.left2 {
    width: 400px;
    position: relative;
    top: 410px;
    left: 55px;
}
.chil {
    width: 1200px;
    font-size: 46px;
    font-family: fantasy;
    font-weight: 50;
    line-height: 65px;
    position: relative;
    left: 120px;
    top: 180px;
}
.spez {
    color:#DD4053;
    position: relative;
    left: 1320px;
    top: 100px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 32px;
    width: 230px;
}
.strong {
    color:#DD4053;
    font-weight: 600;
}
.boloks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1740px;
    position: relative;
    left: 90px;
    top: 320px;
}
.bolok {
    background: rgba(221, 221, 221, 0.329);
    width: 380px;
    height: 250px;
    transition: 0.6s;
}
.bolok:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 68px -18px rgba(34, 60, 80, 0.32);
    -moz-box-shadow: 0px 0px 68px -18px rgba(34, 60, 80, 0.32);
    box-shadow: 0px 0px 68px -18px rgba(34, 60, 80, 0.32);
}
.flag {
    position: relative;
    top: -80px;
    left: 50px;
}
.strana {
    width: 150px;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
    top: -120px;
    left: 140px;
}
.know {
    border: 3px solid grey;
    color: grey;
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 700;
    width: 265px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -80px;
    left: 55px;
    transition: 0.5s;
    cursor: pointer;
}
.know:hover {
    background: grey;
    color: white;
    border: transparent;
    transform: scale(1.03);
}
.sug {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 22px;
    width: 640px;
    position: relative;
    top: 450px;
    left: 120px;
}
.another {
    color: #DD4053;
    text-decoration: none;
    border-bottom: 2px #DD4053 solid;
    transition: 0.6s;
}
.another:hover {
    color: red;
}
.ramka1 {
    border: 2px solid rgb(179, 179, 179);
    width: 935px;
    height: 150px;
    position: relative;
    top: 390px;
    left: 870px;
    padding: 40px 0 30px 80px;
    transition: 0.7s;
}
.ramka1:hover {
    transform: scale(1.04);
}
.osta {
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 30px;
    width: 720px;
}
.otdux {
    font-weight: 700;
}

.os4 {
    background: url("фон.png") center center no-repeat;
    background-size: cover;
    height: 650px;
}
.valanta {
    color: rgba(255, 255, 255, 0.226);
    font-size: 280px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 90px 0 0 0;
}
.wer {
    color: white;
    font-size: 55px;
    font-family: sans-serif;
    font-weight: 400;
    width: 800px;
    text-align: center;
    position: relative;
    top: -220px;
    left: 530px;
}

.os5 {
    width: 1750px;
    height: 650px;
    background: white;
    position: relative;
    top: -200px;
    left: 80px;
    z-index: 1;
    -webkit-box-shadow: 1px 0px 62px -26px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 1px 0px 62px -26px rgba(0, 0, 0, 0.51);
    box-shadow: 1px 0px 62px -26px rgba(0, 0, 0, 0.51);
}
.valan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 60px;
}
.valan1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    width: 1440px;
    top: 140px;
    left:60px;
}
.grey {
    background: url("grey.png") center center no-repeat;
    border: 2px dashed grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    transition: 0.5s;
}
.grey:hover {
    border: 2px dashed rgb(236, 89, 89);
    background: url("red1.png") center center no-repeat;
    transform: scale(1.2);
}
.grey1 {
    background: url("peoles.png") center center no-repeat;
    border: 2px dashed grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    transition: 0.5s;
}
.grey1:hover {
    border: 2px dashed rgb(236, 89, 89);
    background: url("red5.png") center center no-repeat;
    transform: scale(1.2);
}
.grey2 {
    background: url("clock.png") center center no-repeat;
    border: 2px dashed grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    transition: 0.5s;
}
.grey2:hover {
    border: 2px dashed rgb(236, 89, 89);
    background: url("red3.png") center center no-repeat;
    transform: scale(1.2);
}
.grey3 {
    background: url("5.png") center center no-repeat;
    border: 2px dashed grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    transition: 0.5s;
}
.grey3:hover {
    border: 2px dashed rgb(236, 89, 89);
    background: url("red4.png") center center no-repeat;
    transform: scale(1.2);
}
.grey4 {
    background: url("star.png") center center no-repeat;
    border: 2px dashed grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    transition: 0.5s;
}
.grey4:hover {
    border: 2px dashed rgb(236, 89, 89);
    background: url("red2.png") center center no-repeat;
    transform: scale(1.2);
}
.wants {
    color: black;
    font-weight: 400;
    font-size: 22px;
    font-family: sans-serif;
    line-height: 29px;
    width: 310px;
    position: relative;
    top: 40px;
}
.wants2 {
    color: black;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    font-family: sans-serif;
    width: 445px;
    position: relative;
    top: 40px;
}
.wants3 {
    color: black;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    font-family: sans-serif;
    width: 370px;
    position: relative;
    top: 40px;
}
.sotrudnit {
    width: 330px;
    height: 70px;
    background: #DD4053;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 70px;
    top: 130px;
    transition: 0.6s;
    cursor: pointer;
}
.sotrudnit:hover {
    border: 2px solid #DD4053;
    color: #DD4053;
    background: transparent;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 63px -9px rgba(212, 53, 53, 0.39);
    -moz-box-shadow: 0px 0px 63px -9px rgba(212, 53, 53, 0.39);
    box-shadow: 0px 0px 63px -9px rgba(212, 53, 53, 0.39);
}

.os7 {
    height: 1000px;
    width: auto;
    position: relative;
    top: -600px;
}
.our {
    width: 400px;
    color: rgb(56, 56, 56);
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 300;
    position: relative;
    top: 160px;
    left: 120px;
}
.spisok11 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 900px;
    position: relative;
    left: 940px;
    top: 120px;
}
.ad {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(189, 189, 189);
    transition: 0.5s;
    cursor: pointer;
}
.ad:hover {
    color: black;
    transform: scale(1.1);
}
.palka111 {
    border: 1px solid rgb(212, 212, 212);
    width: 1680px;
    position: relative;
    top: 180px;
    left: 120px;
}
.kto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 270px;
    left: -200px;
}

.name2 {
    color: rgb(56, 56, 56);
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 400;
    position: relative;
    left: 310px;
    top: -210px;
}
.opisanie {
    color: #575757;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    width: 320px;
    position: relative;
    left: 310px;
    top: -190px;
}
.sulka {
    color: #323232;
    font-size: 23px;
    font-family: sans-serif;
    position: relative;
    left: 310px;
    top: -110px;
    transition: 0.6s;
}
.sulka:hover {
    transform: scale(1.05);
    color: rgb(0, 132, 255);
}
.bloc {
    position: relative;
    left: -50px;
}
.palki {
    width: 1810px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.palka112 {
    border: 1px solid rgb(212, 212, 212);
    width: 800px;
    position: relative;
    top: 220px;
    left: 60px;
}
.img {
    transition: 0.5s;
}
.img:hover {
    transform: scale(1.1);
}
.os6 {
    background: rgba(224, 224, 224, 0.24);
    height: 1600px;
    position: relative;
    top: -700px;
}
.how {
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 400;
    position: relative;
    left: 120px;
    top: 700px;
    width: 900px;
    line-height: 1.5;
}
.thank {
    width: 860px;
    color: rgb(128, 128, 128);
    font-size: 33px;
    font-family: sans-serif;
    position: relative;
    left: 120px;
    top: 740px;
}
.thblocks {
    width: 1660px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 850px;
    left: 120px;
}
.thblock {
    width: 550px;
    height: 420px;
    background: white;
    transition: 0.5s;
}
.thblock:hover {
    border-top: 5px solid #DD4053;
    transform: scale(1.03);
    -webkit-box-shadow: 0px 0px 52px -23px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 0px 52px -23px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 0px 52px -23px rgba(0, 0, 0, 0.64);
}
.have {
    font-size: 30px;
    font-family: fantasy;
    font-weight: 400;
    width: 370px;
    line-height: 1.45;
    position: relative;
    top: 30px;
    left: 50px;
}
.slesh {
    width: 100px;
    color: rgb(170, 170, 170);
    font-weight: 100;
    font-size: 30px;
    position: relative;
    left: 470px;
    top: -40px;
}
.slesh1 {
    width: 100px;
    color: rgb(170, 170, 170);
    font-weight: 100;
    font-size: 30px;
    position: relative;
    left: 470px;
    top: -85px;
}
.in {
    font-size: 26px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(158, 158, 158);
    width: 480px;
    position: relative;
    top: 55px;
    left: 50px;
}
.in1 {
    font-size: 26px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(158, 158, 158);
    width: 480px;
    position: relative;
    top: 15px;
    left: 50px;
}
.os10 {
    background: rgba(226, 226, 226, 0.226);
    height: 890px;
}
.trwith {
    color: rgb(71, 71, 71);
    font-size: 60px;
    width: 700px;
    line-height: 1.3;
    font-family: sans-serif;
    font-weight: 400;
    position: relative;
    left: 200px;
    top: 100px;
}
.po {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 400;
    width: 650px;
    line-height: 1.4;
    color: rgb(48, 48, 48);
    position: relative;
    top: -42px;
    left: 1000px;
}
.ama {
    border: 1px solid grey;
    width: 520px;
    height: 55px;
    background: rgba(255, 255, 255, 0.26);
    color: rgb(12, 12, 12);
    font-size: 20px;
    padding: 12px 15px;
    position: relative;
    top: 75px;
    left: 200px;
}
.otpra {
    color: white;
    background: #DD4053;
    width: 350px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 700;
    position: relative;
    top: -20px;
    left: 1270px;
    transition: 0.6s;
    cursor: pointer;
}
.otpra:hover {
    background: transparent;
    color: #DD4053;
    border: 3px solid #DD4053;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 63px -9px rgba(212, 53, 53, 0.39);
    -moz-box-shadow: 0px 0px 63px -9px rgba(212, 53, 53, 0.39);
    box-shadow: 0px 0px 63px -9px rgba(212, 53, 53, 0.39);
}
.x {
    background: url(x.png) center center no-repeat;
    background-size: cover;
    width: 190px;
    height: 110px;
    position: relative;
    top: 150px;
    left: 200px;
    transition: 0.7s;
}
.x:hover {
    transform: scale(1.2);
}
.spisok {
    color: rgb(110, 110, 110);
    font-weight:400;
    line-height: 1.8;
    font-size: 15px;
    font-family: sans-serif;
    position: relative;
    left: 600px;
    top: 40px;
    width: 200px;
}
.spisok2 {
    color: rgb(110, 110, 110);
    font-weight:400;
    line-height: 1.8;
    font-size: 15px;
    font-family: sans-serif;
    position: relative;
    left: 870px;
    top: -85px;
    width: 200px;
}
.rezum {
    font-size: 15px;
    color: rgb(199, 199, 199);
    font-weight: 600;
    font-family: sans-serif;
    position: relative;
    top: -170px;
    left: 1100px;
    width: 200px;
}
.raspisanie {
    width: 200px;
    color: rgb(110, 110, 110);
    font-weight:600;
    font-size: 20px;
    font-family: sans-serif;
    position: relative;
    top: -150px;
    left: 1100px;
}
.zvoni {
    width: 300px;
    color: rgb(110, 110, 110);
    font-weight:600;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.8;
    position: relative;
    top: -220px;
    left: 1430px;
}
.kontakt {
    width: 200px;
    font-size: 16px;
    color: rgb(199, 199, 199);
    font-weight: 600;
    font-family: sans-serif;
    position: relative;
    top: -200px;
    left: 1430px;
}
.palka1234 {
    width: 1430px;
    height: 0.1px;
    border:0.1px solid rgb(214, 214, 214);
    position: relative;
    top: -130px;
    left: 200px;
}
.twozero {
    width: 400px;
    font-size: 17px;
    color: rgb(199, 199, 199);
    font-weight: 600;
    font-family: sans-serif;
    position: relative;
    top: -95px;
    left: 200px;
}
.label {
    width: 130px;
    position: relative;
    top: -120px;
    left: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.iam1 {
    width: 400px;
    color: rgb(88, 88, 88);
    font-size: 25px;
    position: relative;
    top: 30px;
    left: 800px;
    display: flex;
    justify-content: space-around;
}
.ioi1 {
    width: 150px;
    display: flex;
    justify-content: space-around;
}
.xxxx {
    transition: 0.8s;
    background: url("2.png") center center no-repeat;
    background-size: cover;
    width: 25px;
    height: 18px;
}
.xxxx:hover{
    background: url("22.jpg") center center no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.xx {
    background: url("Vector.png") center center no-repeat;
    background-size: cover;
    width: 15px;
    height: 25px;
    transition: 0.8s;
}
.xx:hover {
    background: url("1122.png") center center no-repeat;
    background-size: cover;
    transform: scale(1.2);
}
.xxx {
    background: url("instagram (1) 1.png") center center no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    transition: 0.8s
}
.xxx:hover {
    width: 27px;
    height: 27px;
    background: url("aqq.png") center center no-repeat;
    background-size: cover;
    transform: scale(1.4);
}
a {
    color: grey;
    text-decoration: none;
}
a:hover {
    color: black;
}